In [1]:
!apt-get install openjdk-8-jdk

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java
  libatk-wrapper-java-jni libxxf86dga1 openjdk-8-jdk-headless openjdk-8-jre
  openjdk-8-jre-headless x11-utils
Suggested packages:
  openjdk-8-demo openjdk-8-source visualvm icedtea-8-plugin libnss-mdns
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic mesa-utils
The following NEW packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java
  libatk-wrapper-java-jni libxxf86dga1 openjdk-8-jdk openjdk-8-jdk-headless
  openjdk-8-jre openjdk-8-jre-headless x11-utils
0 upgraded, 10 newly installed, 0 to remove and 39 not upgraded.
Need to get 40.7 MB of archives.
After this operation, 153 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 libxxf86dga1 amd64 2:1.1.4-1 [13.7 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-dejavu-core all 2.37-1 [1,041 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-dejavu-extra all 2.37-1 [1,953 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/main amd64 x11-utils amd64 7.7+3build1 [196 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 libatk-wrapper-java all 0.33.3-20ubuntu0.1 [34.7 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libatk-wrapper-java-jni amd64 0.33.3-20ubuntu0.1 [28.3 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jre-headless amd64 8u265-b01-0ubuntu2~18.04 [27.5 MB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jre amd64 8u265-b01-0ubuntu2~18.04 [69.6 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jdk-headless amd64 8u265-b01-0ubuntu2~18.04 [8,262 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jdk amd64 8u265-b01-0ubuntu2~18.04 [1,610 kB]
Fetched 40.7 MB in 3s (12.8 MB/s)
Selecting previously unselected package libxxf86dga1:amd64.
(Reading database ... 144579 files and directories currently installed.)
Preparing to unpack .../0-libxxf86dga1_2%3a1.1.4-1_amd64.deb ...
Unpacking libxxf86dga1:amd64 (2:1.1.4-1) ...
Selecting previously unselected package fonts-dejavu-core.
Preparing to unpack .../1-fonts-dejavu-core_2.37-1_all.deb ...
Unpacking fonts-dejavu-core (2.37-1) ...
Selecting previously unselected package fonts-dejavu-extra.
Preparing to unpack .../2-fonts-dejavu-extra_2.37-1_all.deb ...
Unpacking fonts-dejavu-extra (2.37-1) ...
Selecting previously unselected package x11-utils.
Preparing to unpack .../3-x11-utils_7.7+3build1_amd64.deb ...
Unpacking x11-utils (7.7+3build1) ...
Selecting previously unselected package libatk-wrapper-java.
Preparing to unpack .../4-libatk-wrapper-java_0.33.3-20ubuntu0.1_all.deb ...
Unpacking libatk-wrapper-java (0.33.3-20ubuntu0.1) ...
Selecting previously unselected package libatk-wrapper-java-jni:amd64.
Preparing to unpack .../5-libatk-wrapper-java-jni_0.33.3-20ubuntu0.1_amd64.deb ...
Unpacking libatk-wrapper-java-jni:amd64 (0.33.3-20ubuntu0.1) ...
Selecting previously unselected package openjdk-8-jre-headless:amd64.
Preparing to unpack .../6-openjdk-8-jre-headless_8u265-b01-0ubuntu2~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u265-b01-0ubuntu2~18.04) ...
Selecting previously unselected package openjdk-8-jre:amd64.
Preparing to unpack .../7-openjdk-8-jre_8u265-b01-0ubuntu2~18.04_amd64.deb ...
Unpacking openjdk-8-jre:amd64 (8u265-b01-0ubuntu2~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../8-openjdk-8-jdk-headless_8u265-b01-0ubuntu2~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u265-b01-0ubuntu2~18.04) ...
Selecting previously unselected package openjdk-8-jdk:amd64.
Preparing to unpack .../9-openjdk-8-jdk_8u265-b01-0ubuntu2~18.04_amd64.deb ...
Unpacking openjdk-8-jdk:amd64 (8u265-b01-0ubuntu2~18.04) ...
Setting up fonts-dejavu-core (2.37-1) ...
Setting up libxxf86dga1:amd64 (2:1.1.4-1) ...
Setting up fonts-dejavu-extra (2.37-1) ...
Setting up openjdk-8-jre-headless:amd64 (8u265-b01-0ubuntu2~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u265-b01-0ubuntu2~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode
Setting up x11-utils (7.7+3build1) ...
Setting up libatk-wrapper-java (0.33.3-20ubuntu0.1) ...
Setting up libatk-wrapper-java-jni:amd64 (0.33.3-20ubuntu0.1) ...
Setting up openjdk-8-jre:amd64 (8u265-b01-0ubuntu2~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/policytool to provide /usr/bin/policytool (policytool) in auto mode
Setting up openjdk-8-jdk:amd64 (8u265-b01-0ubuntu2~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/appletviewer to provide /usr/bin/appletviewer (appletviewer) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jconsole to provide /usr/bin/jconsole (jconsole) in auto mode
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1) ...
/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

In [2]:
import os

In [3]:
os.environ["JAVA_HOME"]="/usr/lib/jvm/java-8-openjdk-amd64"

In [4]:
!pwd

/content

In [5]:
!echo $JAVA_HOME

/usr/lib/jvm/java-8-openjdk-amd64

In [6]:
!pip install pyspark==2.4.4

Collecting pyspark==2.4.4
  Downloading https://files.pythonhosted.org/packages/87/21/f05c186f4ddb01d15d0ddc36ef4b7e3cedbeb6412274a41f26b55a650ee5/pyspark-2.4.4.tar.gz (215.7MB)
     |████████████████████████████████| 215.7MB 61kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 44.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.4-py2.py3-none-any.whl size=216130389 sha256=752b919452a887a8827605ab63aa7cda563512f2249548365ea0b0c4320d61d4
  Stored in directory: /root/.cache/pip/wheels/ab/09/4d/0d184230058e654eb1b04467dbc1292f00eaa186544604b471
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.4

# New Section

In [7]:
import pyspark

In [8]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [13]:
myspark = SparkSession.builder \
.master("local[*]") \
.appName("amit") \
.config("spark.executor.memory", "6g") \
.config("spark.driver.memory", "4g") \
.getOrCreate()

In [10]:
!ifconfig

/bin/bash: ifconfig: command not found

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [16]:
df = myspark.read.csv("/content/sample_data/california_housing_train.csv",header=True)

In [17]:
df.show(5,False)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|longitude  |latitude |housing_median_age|total_rooms|total_bedrooms|population |households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-114.310000|34.190000|15.000000         |5612.000000|1283.000000   |1015.000000|472.000000|1.493600     |66900.000000      |
|-114.470000|34.400000|19.000000         |7650.000000|1901.000000   |1129.000000|463.000000|1.820000     |80100.000000      |
|-114.560000|33.690000|17.000000         |720.000000 |174.000000    |333.000000 |117.000000|1.650900     |85700.000000      |
|-114.570000|33.640000|14.000000         |1501.000000|337.000000    |515.000000 |226.000000|3.191700     |73400.000000      |
|-114.570000|33.570000|20.000000         |1454.000000|326.000000    |624.000000 |262.000000|1.925000     |65500.000000      |
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 5 rows

In [18]:
df.createOrReplaceTempView("parquetFile")
samplecsv = myspark.sql("SELECT count(*) FROM parquetFile")
samplecsv.show()

+--------+
|count(1)|
+--------+
|   17000|
+--------+

In [20]:
df.count()

17000

In [21]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [22]:
table_schema = StructType([StructField('status', StringType(), True),
                     StructField('txn_id', StringType(), True),
                     StructField('trn_date',TimestampType(), True),
                     StructField('fin_nfin', StringType(), True),
                     StructField('proc_code', StringType(), True),
                     StructField('resp_cpde', StringType(), True),
                     StructField('state', StringType(), True),
                     StructField('mob_no', LongType(), True)])

In [28]:
df1 = myspark.read.csv("/content/drive/My Drive/DATA SCIENCE/Data Science Resources/hive_lecture_new/mb_out_large.csv",schema=table_schema,sep=",", header=None)
# df1 = myspark.read.csv("/content/drive/My Drive/DATA SCIENCE/Data Science Resources/hive_lecture_new/mb_out_large.csv")

In [29]:
df1.show(1)

+---------+------------------+-------------------+--------------+--------------+---------+-----------+----------+
|   status|            txn_id|           trn_date|      fin_nfin|     proc_code|resp_cpde|      state|    mob_no|
+---------+------------------+-------------------+--------------+--------------+---------+-----------+----------+
|COMPLETED|INBbxkrb7677446468|2019-05-26 20:42:26|Non-Financials|balanceInquiry|       00|Maharashtra|9945539882|
+---------+------------------+-------------------+--------------+--------------+---------+-----------+----------+
only showing top 1 row

In [30]:
df1.printSchema()

root
 |-- status: string (nullable = true)
 |-- txn_id: string (nullable = true)
 |-- trn_date: timestamp (nullable = true)
 |-- fin_nfin: string (nullable = true)
 |-- proc_code: string (nullable = true)
 |-- resp_cpde: string (nullable = true)
 |-- state: string (nullable = true)
 |-- mob_no: long (nullable = true)

In [32]:
df1.createOrReplaceTempView("csvfile")
bankdata = myspark.sql("SELECT *,cast(cast(trn_date as DATE) as STRING) as trn_date_part FROM csvfile")
bankdata.show(5)

+---------+------------------+-------------------+--------------+--------------+---------+-----------+----------+-------------+
|   status|            txn_id|           trn_date|      fin_nfin|     proc_code|resp_cpde|      state|    mob_no|trn_date_part|
+---------+------------------+-------------------+--------------+--------------+---------+-----------+----------+-------------+
|COMPLETED|INBbxkrb7677446468|2019-05-26 20:42:26|Non-Financials|balanceInquiry|       00|Maharashtra|9945539882|   2019-05-26|
|COMPLETED|INBpmcbm7874430557|2019-05-17 05:30:54|    Financials|  fundTransfer|       00|Maharashtra|9991940167|   2019-05-17|
|COMPLETED|INBycnbh3838184217|2019-05-19 06:52:02|    Financials|  fundTransfer|       00|Maharashtra|9998664135|   2019-05-19|
|   FAILED|INBlevml0264925092|2019-05-18 05:53:07|    Financials|  fundTransfer|       96|Maharashtra|9997491417|   2019-05-18|
|COMPLETED|INBkovsp0528222721|2019-05-27 19:16:44|Non-Financials|balanceInquiry|       00| Tamil Nadu|9990054108|   2019-05-27|
+---------+------------------+-------------------+--------------+--------------+---------+-----------+----------+-------------+
only showing top 5 rows

In [33]:
bankdata.printSchema()

root
 |-- status: string (nullable = true)
 |-- txn_id: string (nullable = true)
 |-- trn_date: timestamp (nullable = true)
 |-- fin_nfin: string (nullable = true)
 |-- proc_code: string (nullable = true)
 |-- resp_cpde: string (nullable = true)
 |-- state: string (nullable = true)
 |-- mob_no: long (nullable = true)
 |-- trn_date_part: string (nullable = true)

In [35]:
#bankdata.write.mode("overwrite").parquet("/content/amit_parquet1/out")
bankdata.write.mode("overwrite").partitionBy("trn_date_part").parquet("/content/amit_parquet1/out1")

In [36]:
bankdata2 = bankdata.repartition(1)

In [37]:
bankdata2.write.mode("overwrite").orc("/content/amit_orc")

In [42]:
parquetFile = myspark.read.parquet("/content/amit_parquet1/out")

In [43]:
parquetFile.show()

+---------+------------------+-------------------+--------------+-----------------+---------+--------------+----------+-------------+
|   status|            txn_id|           trn_date|      fin_nfin|        proc_code|resp_cpde|         state|    mob_no|trn_date_part|
+---------+------------------+-------------------+--------------+-----------------+---------+--------------+----------+-------------+
|COMPLETED|INBbxkrb7677446468|2019-05-26 20:42:26|Non-Financials|   balanceInquiry|       00|   Maharashtra|9945539882|   2019-05-26|
|COMPLETED|INBpmcbm7874430557|2019-05-17 05:30:54|    Financials|     fundTransfer|       00|   Maharashtra|9991940167|   2019-05-17|
|COMPLETED|INBycnbh3838184217|2019-05-19 06:52:02|    Financials|     fundTransfer|       00|   Maharashtra|9998664135|   2019-05-19|
|   FAILED|INBlevml0264925092|2019-05-18 05:53:07|    Financials|     fundTransfer|       96|   Maharashtra|9997491417|   2019-05-18|
|COMPLETED|INBkovsp0528222721|2019-05-27 19:16:44|Non-Financials|   balanceInquiry|       00|    Tamil Nadu|9990054108|   2019-05-27|
|COMPLETED|INBelmpy0845924917|2019-05-08 10:28:27|Non-Financials|   balanceInquiry|       00|   Maharashtra|9967286093|   2019-05-08|
|COMPLETED|INBtdrut5221005029|2019-05-24 12:58:30|Non-Financials|CHANGE_MPIN_MTPIN|       00|        Kerala|9965205492|   2019-05-24|
|COMPLETED|INBgdovs6547070178|2019-05-28 09:29:01|Non-Financials|CHANGE_MPIN_MTPIN|       00|   Maharashtra|9944474766|   2019-05-28|
|COMPLETED|INBoialc6841563565|2019-05-03 09:05:30|    Financials|     fundTransfer|       00|     Karnataka|9909313598|   2019-05-03|
|COMPLETED|INBqakai6783168890|2019-05-26 17:35:06|    Financials|     fundTransfer|       00|   Maharashtra|9912817454|   2019-05-26|
|   FAILED|INBpdybx8044532205|2019-05-26 04:05:31|    Financials|      neftRequest|       96|    Tamil Nadu|9976027893|   2019-05-26|
|COMPLETED|INBomzze7600111266|2019-05-13 16:41:28|    Financials|     fundTransfer|       00|    Tamil Nadu|9949757514|   2019-05-13|
|COMPLETED|INBnomii0493145305|2019-05-06 07:43:54|Non-Financials|   balanceInquiry|       00|           Goa|9989138977|   2019-05-06|
|COMPLETED|INByoptd2087456435|2019-05-19 05:50:06|    Financials|     fundTransfer|       00|   Maharashtra|9935041880|   2019-05-19|
|   FAILED|INBcopte9368483615|2019-05-19 03:43:01|Non-Financials|   balanceInquiry|      101|        Kerala|9979324140|   2019-05-19|
|COMPLETED|INBisell0458853629|2019-05-12 10:56:07|    Financials|     fundTransfer|       00|    Tamil Nadu|9920214562|   2019-05-12|
|COMPLETED|INBktvfv9229756088|2019-05-06 22:04:00|Non-Financials|   balanceInquiry|       00|Madhya Pradesh|9991664370|   2019-05-06|
|COMPLETED|INBypikd9676387038|2019-05-16 14:01:53|    Financials|     fundTransfer|       00|Andhra Pradesh|9972557303|   2019-05-16|
|COMPLETED|INBeelxf5010595515|2019-05-26 11:48:36|    Financials|GETPAYMENTDETAILS|       00|   Maharashtra|9937263202|   2019-05-26|
|COMPLETED|INBiexmj6499909190|2019-05-21 03:51:27|    Financials|     fundTransfer|       00|        Kerala|9974682974|   2019-05-21|
+---------+------------------+-------------------+--------------+-----------------+---------+--------------+----------+-------------+
only showing top 20 rows

In [44]:
parquetFile.cache().count()

999999

In [45]:
parquetFile.count()

999999

In [46]:
parquetFile.filter((col("status")=="COMPLETED") | (col("state")=="Maharashtra")).show()

+---------+------------------+-------------------+--------------+-----------------+---------+--------------+----------+-------------+
|   status|            txn_id|           trn_date|      fin_nfin|        proc_code|resp_cpde|         state|    mob_no|trn_date_part|
+---------+------------------+-------------------+--------------+-----------------+---------+--------------+----------+-------------+
|COMPLETED|INBbxkrb7677446468|2019-05-26 20:42:26|Non-Financials|   balanceInquiry|       00|   Maharashtra|9945539882|   2019-05-26|
|COMPLETED|INBpmcbm7874430557|2019-05-17 05:30:54|    Financials|     fundTransfer|       00|   Maharashtra|9991940167|   2019-05-17|
|COMPLETED|INBycnbh3838184217|2019-05-19 06:52:02|    Financials|     fundTransfer|       00|   Maharashtra|9998664135|   2019-05-19|
|   FAILED|INBlevml0264925092|2019-05-18 05:53:07|    Financials|     fundTransfer|       96|   Maharashtra|9997491417|   2019-05-18|
|COMPLETED|INBkovsp0528222721|2019-05-27 19:16:44|Non-Financials|   balanceInquiry|       00|    Tamil Nadu|9990054108|   2019-05-27|
|COMPLETED|INBelmpy0845924917|2019-05-08 10:28:27|Non-Financials|   balanceInquiry|       00|   Maharashtra|9967286093|   2019-05-08|
|COMPLETED|INBtdrut5221005029|2019-05-24 12:58:30|Non-Financials|CHANGE_MPIN_MTPIN|       00|        Kerala|9965205492|   2019-05-24|
|COMPLETED|INBgdovs6547070178|2019-05-28 09:29:01|Non-Financials|CHANGE_MPIN_MTPIN|       00|   Maharashtra|9944474766|   2019-05-28|
|COMPLETED|INBoialc6841563565|2019-05-03 09:05:30|    Financials|     fundTransfer|       00|     Karnataka|9909313598|   2019-05-03|
|COMPLETED|INBqakai6783168890|2019-05-26 17:35:06|    Financials|     fundTransfer|       00|   Maharashtra|9912817454|   2019-05-26|
|COMPLETED|INBomzze7600111266|2019-05-13 16:41:28|    Financials|     fundTransfer|       00|    Tamil Nadu|9949757514|   2019-05-13|
|COMPLETED|INBnomii0493145305|2019-05-06 07:43:54|Non-Financials|   balanceInquiry|       00|           Goa|9989138977|   2019-05-06|
|COMPLETED|INByoptd2087456435|2019-05-19 05:50:06|    Financials|     fundTransfer|       00|   Maharashtra|9935041880|   2019-05-19|
|COMPLETED|INBisell0458853629|2019-05-12 10:56:07|    Financials|     fundTransfer|       00|    Tamil Nadu|9920214562|   2019-05-12|
|COMPLETED|INBktvfv9229756088|2019-05-06 22:04:00|Non-Financials|   balanceInquiry|       00|Madhya Pradesh|9991664370|   2019-05-06|
|COMPLETED|INBypikd9676387038|2019-05-16 14:01:53|    Financials|     fundTransfer|       00|Andhra Pradesh|9972557303|   2019-05-16|
|COMPLETED|INBeelxf5010595515|2019-05-26 11:48:36|    Financials|GETPAYMENTDETAILS|       00|   Maharashtra|9937263202|   2019-05-26|
|COMPLETED|INBiexmj6499909190|2019-05-21 03:51:27|    Financials|     fundTransfer|       00|        Kerala|9974682974|   2019-05-21|
|COMPLETED|INBcagwv6998493632|2019-05-13 04:35:32|Non-Financials|    chequeInquiry|       00|   Maharashtra|9920431237|   2019-05-13|
|COMPLETED|INBwaowl1252383250|2019-05-15 05:06:28|    Financials|     fundTransfer|       00|   Maharashtra|9920047737|   2019-05-15|
+---------+------------------+-------------------+--------------+-----------------+---------+--------------+----------+-------------+
only showing top 20 rows

In [47]:
parquetFile.groupBy(["state","status"]).count().collect()

[Row(state='Rajasthan', status='COMPLETED', count=11100),
 Row(state='Andhra Pradesh', status='FAILED', count=16054),
 Row(state='Tamil Nadu', status='FAILED', count=19802),
 Row(state='Maharashtra', status='FAILED', count=100023),
 Row(state='Maharashtra', status='COMPLETED', count=399703),
 Row(state='Karnataka', status='COMPLETED', count=64246),
 Row(state='Goa', status='FAILED', count=10122),
 Row(state='Madhya Pradesh', status='FAILED', count=4026),
 Row(state='Karnataka', status='FAILED', count=15836),
 Row(state='Andhra Pradesh', status='COMPLETED', count=63938),
 Row(state='Gujarat', status='COMPLETED', count=39928),
 Row(state='Goa', status='COMPLETED', count=40274),
 Row(state='Assam', status='FAILED', count=1008),
 Row(state='West Bengal', status='COMPLETED', count=3892),
 Row(state='Punjab', status='FAILED', count=195),
 Row(state='Haryana', status='FAILED', count=1013),
 Row(state='Assam', status='COMPLETED', count=3950),
 Row(state='Madhya Pradesh', status='COMPLETED', count=15937),
 Row(state='Haryana', status='COMPLETED', count=3884),
 Row(state='Gujarat', status='FAILED', count=10094),
 Row(state='Kerala', status='COMPLETED', count=72191),
 Row(state='West Bengal', status='FAILED', count=1012),
 Row(state='Punjab', status='COMPLETED', count=833),
 Row(state='Tamil Nadu', status='COMPLETED', count=80008),
 Row(state='Kerala', status='FAILED', count=18127),
 Row(state='Rajasthan', status='FAILED', count=2803)]

In [49]:
parquetFile.createOrReplaceTempView("amit321")
myspark.sql("select state, status,count(*) from amit321 group by state, status").show(5)

+--------------+---------+--------+
|         state|   status|count(1)|
+--------------+---------+--------+
|     Rajasthan|COMPLETED|   11100|
|Andhra Pradesh|   FAILED|   16054|
|    Tamil Nadu|   FAILED|   19802|
|   Maharashtra|   FAILED|  100023|
|   Maharashtra|COMPLETED|  399703|
+--------------+---------+--------+
only showing top 5 rows

In [ ]:
parquetFile.describe()

DataFrame[summary: string, status: string, txn_id: string, fin_nfin: string, proc_code: string, resp_cpde: string, state: string, mob_no: string, trn_date_part: string]

In [ ]:
myspark.sql("select state,status,count(*) from amit321 GROUP BY state,status").show()

+--------------+---------+--------+
|         state|   status|count(1)|
+--------------+---------+--------+
|     Rajasthan|COMPLETED|   11100|
|Andhra Pradesh|   FAILED|   16054|
|    Tamil Nadu|   FAILED|   19802|
|   Maharashtra|   FAILED|  100023|
|   Maharashtra|COMPLETED|  399703|
|     Karnataka|COMPLETED|   64246|
|           Goa|   FAILED|   10122|
|Madhya Pradesh|   FAILED|    4026|
|     Karnataka|   FAILED|   15836|
|Andhra Pradesh|COMPLETED|   63938|
|       Gujarat|COMPLETED|   39928|
|           Goa|COMPLETED|   40274|
|         Assam|   FAILED|    1008|
|   West Bengal|COMPLETED|    3892|
|        Punjab|   FAILED|     195|
|       Haryana|   FAILED|    1013|
|         Assam|COMPLETED|    3950|
|Madhya Pradesh|COMPLETED|   15937|
|       Haryana|COMPLETED|    3884|
|       Gujarat|   FAILED|   10094|
+--------------+---------+--------+
only showing top 20 rows

In [50]:
parquetFile.unpersist()

DataFrame[status: string, txn_id: string, trn_date: timestamp, fin_nfin: string, proc_code: string, resp_cpde: string, state: string, mob_no: bigint, trn_date_part: string]

In [51]:
myspark.stop()

In [52]:
myspark

AttributeError: ignored